<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="printfilepath" value="D:\workspace\Project_Code\DDit-Rapid-Development-Framework.git\branches\prerelease\DDit.Component.Print.Demo\PrintFiles"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>